<h1>Ingredients</h1>

<%= link_to "New Ingredient", new_ingredient_path %>

<div id='ingredients'>
  <% @ingredients.each do |ingredient| %>
    <h2><%= link_to ingredient.name, ingredient %></h2>
    <p><%= ingredient.description %></p>
  <% end %>
</div>

